body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

header {
    background-color: white;
    color: black; /* Change the text color to ensure it's visible */
    padding: 1em;
    text-align: center;
}

.video-container {
    position: relative;
    height: 100vh;
    width: calc(100% - 200px); /* Réduit la largeur de la vidéo de la largeur de la sidebar */
    margin-left: 200px; /* Place la vidéo à côté de la sidebar */
}

.background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%);
}

.text-overlay {
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    font-size: 1.5em;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

    nav ul li {
        display: inline;
        margin: 0 10px;
        padding: 15px;
        text-align: center;
    }

        nav ul li a {
            color: black;
            text-decoration: none;
            font-weight: bold;
        }

h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

p {
    font-size: 1.5em;
}

main {
    padding: 2em;
    text-align: center;
}
